<div class="col-xs-12 no-padding result-slht-table">
    <table class="table table-bordered table-responsive slht-table">
        <thead>
            <th><%= t "Price" %></th>
            <th><%= t "Select_guess_number" %></th>
            <th><%= t "Total" %></th>
        </thead>
        <tbody>
            <tr>
                <%= form_tag new_service_booking_path,method: :get do |f|%>
                <%= hidden_field_tag :service_id, @service.id %>
              <td class="slht-td-price">
                <h3 class="text-yellow"><b><%=number_to_currency @service.price %></b></h3>
                </td>
                 <td class="slht-td-room">
                   <%= select_tag :quantity, options_for_select(1..15),:id => "quantity_selection" %>
                </td>
                  <td class="slht-td-total" rowspan="400">
                    <p class="slht-btn-price">$<span id ="total_price"><%= @service.price %></span></p>
                    <%=submit_tag "book",{ class: "btn btn-blue btn-reserve", style: "float:right;"} %>    
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>

<script>
$("#quantity_selection").on("change", function() {
  var service_price = <%= @service.price %>
  total_price = this.value * service_price
  total_price = total_price.toFixed(2)
  $("#total_price").html(total_price);
});
</script>