<div class= "booking-form">
<div class="row">
  <div class="col-sm-8">
    <div class="booking-container">
      <%= form_for(current_user.service_bookings.build ) do |f| %>
        <div class="row">
          <div class="col-sm-12">
            <h3>1. Billing Address</h3>
            <%= f.label :booking_user, class: "col-form-label" do %>
              <i class="fa fa-user"></i> Booking user 
            <% end %>
            <%= f.text_field :booking_user, required: true, placeholder: "Full name" %>
            
              <%= f.label :booking_user, class: "col-form-label" do %>
             <i class="fa fa-address-card-o"></i> Address
            <% end %>
            <%= f.text_field :booking_address, required: true, placeholder: "House number, Street, City,..." %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :booking_status_id, value: 1 %>
            <%= f.hidden_field :quantity, value: @jcart['quantity'] %>
            <%= f.hidden_field :service_id, value: @jcart['service']['id'] %>
            <%= f.hidden_field :unit_price, value: @jcart['unit_price'] %>
            <%= f.hidden_field :total_price, value: @jcart['total_price'] %>
            
            
           
    
            <h3>2. Payment</h3>
             <%= f.hidden_field :payment_method_id, value: 2 %>
            <div class="radio-selections">
            <% @payment_methods.each do |option| %>
              <%= f.radio_button :payment_method_id, "#{option.id}" %><%= f.label :payment_method_id, value: "#{option.name}" %>
            <% end %>
            </div>
            <br>
            <label for="fname">Accepted Cards</label>
             <ul class="list-inline">
                <li><%= link_to image_tag("pay1.png", class: "img-responsive"), "#" %></li>
                <li><%= link_to image_tag("pay2.png", class: "img-responsive"), "#" %></li>
                <li><%= link_to image_tag("pay3.png", class: "img-responsive"), "#" %></li>
                <li><%= link_to image_tag("pay4.png", class: "img-responsive"), "#" %></li>
            </ul>

            <label for="cname">Name on Card</label>
            <input type="text" id="cname" name="cardname" placeholder="">
            <label for="ccnum">Credit card number</label>
            <input type="text" id="ccnum" name="cardnumber" placeholder="">
            <label for="expmonth">Exp Month</label>
            <input type="text" id="expmonth" name="expmonth" placeholder="">
            <div class="row">
              <div class="col-sm-5">
                <label for="expyear">Exp Year</label>
                <input type="text" id="expyear" name="expyear" placeholder="">
              </div>
              <div class="col-sm-5">
                <label for="cvv">CVV</label>
                <input type="text" id="cvv" name="cvv" placeholder="">
              </div>
            </div>
          </div>
        </div>
        <%= f.submit "Continue to checkout",{class: "btn btn-primary btn-checkout"} %>
     <% end %>
    </div>
  </div>
  
  
  <div class="col-sm-3 cart-items">
    <div class="booking-container">
      <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b><%= @jcart['quantity']%></b></span></h4>
      <p><%=link_to @jcart['service']['name'],service_details_path(@jcart['service']['id']) %><span class="price"><%=number_to_currency @jcart['unit_price'] %></span></p>
       <p>Quantity:<span class="price">x <%= @jcart['quantity']%></span></p>
      <hr>
      <p>Total <span class="price" style="color:black"><b><%= number_to_currency @jcart['total_price'] %></b></span></p>
    </div>
  </div>
</div>
</div>